* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 14px;
}

input {
    border: none;
    border-bottom: 2px dotted gray;
}

.main-content {
    display: flex;
    margin: -50px auto;
    height: 80vh;
    width: 75vw;
}

.mainstr{
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    font-size:xx-large;
    font-weight: bold;
    margin: 50px auto 0;
}

h4 {
    /* height: 30vh; */
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.split-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25vw;
    /* border: 1px solid red; */
}

.split-right {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    /* border: 1px solid red; */
}

.form-container {
    /* background-color:rgb(214, 214, 214); */
    height: 30vh;
    box-shadow: 8px 0 10px 8px rgba(151, 151, 151, 0.349);
}

.allnames,.contacts,.security {
    display: flex;
    justify-content:flex-start;
    margin: 0;
    margin-top: 8px;
}

form div {
    margin-left: 20px;
    margin-top: 15px;
}

p {
    padding-left: 5px;
}

button {
    margin-top: 10px;
    padding: 5px;
    background-color: gray;
    color: whitesmoke;
    font-weight: 600;
    /* border: red; */
    border: 2px solid gray;
    border-radius: 7px;
    box-shadow: 2px 3px rgba(0,0,0,0.24);
}

button:hover {
    background-color: rgba(211, 34, 34, 0.822);
    border: 2px solid rgba(211, 34, 34, 0.822);
}

button:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 4px rgba(0,0,0,0.24);
    /* Lowering the shadow */ 
}

.signin-section {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px ;
}

input:user-invalid {
    border: 1px solid red;
}

input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

a:hover {
    background-color: gray;
    color: whitesmoke;
}

footer {
    font-size: small;
    display: flex;
    justify-content: center;
}